<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="cargando" name="crescent" class="ion-margin"></ion-spinner>

  <ion-list *ngIf="!cargando && vehiculos.length > 0">
    <ion-item button detail="true" *ngFor="let v of vehiculos" (click)="seleccionarVehiculo(v)">
      <ion-label>
        <h2>{{ v.marca }} - {{ v.placa }}</h2>
        <p>Modelo: {{ v.modelo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-padding">{{ error }}</p>
  </ion-text>
</ion-content>
