ion-spinner {
  display: block;
  margin: 2rem auto;
}

ion-item {
  --border-color: #dcdcdc;
}

ion-label h2 {
  font-weight: 600;
  color: #1e1e1e;
}

ion-label p {
  color: #6c757d;
  margin-top: 4px;
  font-size: 0.9rem;
}
